@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap");

/* You can override the default Infima variables here. */
:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --ifm-heading-font-family: "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  --ifm-color-primary: theme(colors.violet.9);
  --ifm-color-primary-dark: theme(colors.violet.10);
  --ifm-color-primary-darker: theme(colors.violet.11);
  --ifm-color-primary-darkest: theme(colors.violet.12);
  --ifm-color-primary-light: theme(colors.violet.8);
  --ifm-color-primary-lighter: theme(colors.violet.7);
  --ifm-color-primary-lightest: theme(colors.violet.6);

  --ifm-color-info: theme(colors.sky.9);
  --ifm-color-info-dark: theme(colors.sky.10);
  --ifm-color-info-darker: theme(colors.sky.11);
  --ifm-color-info-darkest: theme(colors.sky.12);
  --ifm-color-info-light: theme(colors.sky.8);
  --ifm-color-info-lighter: theme(colors.sky.7);
  --ifm-color-info-lightest: theme(colors.sky.6);

  --ifm-background-color: theme(colors.mauve.1);
  --ifm-toc-border-color: theme(colors.mauve.6);

  --ifm-spacing-horizontal: 2rem;
}

html[data-theme="dark"] {
  --ifm-color-primary: theme(colors.violet.9);
  --ifm-color-primary-dark: theme(colors.violet.10);
  --ifm-color-primary-darker: theme(colors.violet.11);
  --ifm-color-primary-darkest: theme(colors.violet.12);
  --ifm-color-primary-light: theme(colors.violet.8);
  --ifm-color-primary-lighter: theme(colors.violet.7);
  --ifm-color-primary-lightest: theme(colors.violet.6);

  --ifm-color-info: theme(colors.sky.9);
  --ifm-color-info-dark: theme(colors.sky.10);
  --ifm-color-info-darker: theme(colors.sky.11);
  --ifm-color-info-darkest: theme(colors.sky.12);
  --ifm-color-info-light: theme(colors.sky.8);
  --ifm-color-info-lighter: theme(colors.sky.7);
  --ifm-color-info-lightest: theme(colors.sky.6);

  --ifm-background-color: theme(colors.mauve.1);
  --ifm-toc-border-color: theme(colors.mauve.6);
}

/* Main layout */
.navbar__inner {
  max-width: 1420px;
  padding: 0 16px;
  margin: 0 auto;
}
.main-wrapper > div {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

nav.menu {
  @apply p-6;
}
.navbar {
  @apply border-b shadow-none;
}

/* Markdown */
.markdown {
  @apply prose prose-mauve max-w-none prose-code:font-normal
  prose-code:before:hidden prose-code:after:hidden
  prose-code:px-1 prose-code:border prose-hr:bg-none
  prose-td:px-4 prose-th:px-4;
}

.markdown hr {
  border-top: 1px solid var(--ifm-color-primary-lightest);
  @apply border-mauve-6;
}

/* Table of contents */
.table-of-contents__link {
  @apply text-low;
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code {
  @apply text;
}

/* Code blcok */
.markdown
  :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply !bg-mauve-2;
}

.theme-code-block {
  @apply !border !shadow-none !bg-mauve-2 !relative;

  & > div {
    @apply !border-base;
  }
}

.markdown
  .codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  @apply !text-low px-3 py-2 text-sm bg-mauve-2 border-b-mauve-6;
}

.theme-code-block-highlighted-line {
  @apply !bg-mauve-4;
}

/* Code tabs */

.tabs.tabs {
  @apply p-0 m-0 font-medium -mb-4 text-sm;
}

.tabs.tabs .tabs__item {
  @apply text-low px-4 py-1 rounded mr-2;
}

.tabs.tabs .tabs__item:active,
.tabs.tabs .tabs__item--active {
  @apply text border-none rounded bg-mauve-3;
}

/* Breadcrumbs */

/* Hide first item (Home) */
.breadcrumbs__item:first-child {
  display: none;
}

/* Remove useless padding */
.breadcrumbs__link {
  @apply p-0 text-low text-sm;
}

/* Style the active  */
.breadcrumbs__item--active .breadcrumbs__link {
  @apply bg-transparent text;
}

/* Edit this page */
.theme-edit-this-page {
  @apply !text-low;
}

.theme-edit-this-page svg {
  @apply w-4 h-4 align-middle;
}

/* Alert */
.alert.alert {
  @apply flex shadow-none px-4 py-3 border bg-transparent border-l-4 border-alert;
}

.alert.alert--secondary::before {
  content: "⚑";
  @apply text-xl mr-3;
}

.alert > div:first-child {
  display: none;
}

.alert p {
  @apply m-0;
}

/* Sidebar */
..theme-doc-sidebar-menu.theme-doc-sidebar-menu
  .menu__list-item-collapsible
  .menu__link {
  @apply text text-sm;
}

.theme-doc-sidebar-menu.theme-doc-sidebar-menu
  .theme-doc-sidebar-item-category
  ul.menu__list {
  @apply ml-4 border-l font-normal my-0;
}

.theme-doc-sidebar-menu.theme-doc-sidebar-menu .menu__list-item {
  @apply first:pt-2 last:pb-4;
}

.theme-doc-sidebar-menu.theme-doc-sidebar-menu .menu__link {
  @apply text-sm text-low;
}

.theme-doc-sidebar-menu.theme-doc-sidebar-menu .menu__link--active {
  @apply text-mauve-12 font-medium;
}

.theme-doc-sidebar-menu.theme-doc-sidebar-menu
  .menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

/* GitHub navbar icon */
.header-link:hover {
  opacity: 0.6;
}
.header-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
}
.github-header-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
[data-theme="dark"] .github-header-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
.discord-header-link::before {
  background: url("@site/src/img/discord-logo-black.png") no-repeat;
  background-size: 24px 24px;
}
[data-theme="dark"] .discord-header-link::before {
  background: url("@site/src/img/discord-logo-white.png") no-repeat;
  background-size: 24px 24px;
  margin-right: 4px;
}

/* Toggle button */

[data-theme="light"]
  .darkToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module,
[data-theme="dark"]
  .lightToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  display: none !important;
}

/* Mobile view */
@media screen and (max-width: 996px) {
  .navbar {
    @apply p-4;
  }
}

/* Img */

article img {
  @apply rounded;
}
